#header
{
    background:#343638;
}
.name
{
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

}

.name h1
{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding-bottom: 10px;
}
.name h3
{
    color:#419199;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.name p
{
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#contacts
{
    background-color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}
#contacts a
{
    color: white;
    margin-left: 25px;
}

#main-content h2 
{ 
    color:#25575c ;
    font-size: 30px;
    padding-bottom: 10px;
}
#main-content h3
{
    padding-bottom: 7px;
    font-size: 25px;
}

#left-content span
{
    color:#377278;
}

#right-content p
{
    color:#4e4a4a ;
}
.content-box-detail h4
{
    padding-bottom: 10px;
    font-size: 20px;
}


